.cell-01-text-25,
.cell-01-text-28,
.cell-01-text-29,
.cell-01-text-30,
.cell-01-text-31 {
  align-items: flex-start;
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  gap: 10px;
  height: 25px;
  padding: 3px 55px 3px 0px;
  position: relative;
}

.group-470-28,
.group-470-29,
.group-470-30,
.group-470-31,
.group-470-32 {
  height: 18px;
  margin-right: -9.33px;
  min-width: 51px;
  position: relative;
}

