.cbpm-18 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 1197px;
  overflow: hidden;
  width: 1024px;
}

.overlap-group8 {
  height: 1202px;
  position: relative;
  width: 1024px;
}

.template-solution-de {
  align-items: flex-start;
  background-color: var(--white-lilac);
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: fit-content;
}

.solution-details-window2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  position: relative;
  width: fit-content;
}

.navigation-window-3 {
  height: 1059px;
  min-width: 1004px;
  position: relative;
}

.overlap-group6 {
  height: 1061px;
  left: -2px;
  position: relative;
  top: -2px;
  width: 1008px;
}

.body-3 {
  align-items: center;
  background-color: var(--white);
  border: 4px solid;
  border-color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 1023px;
  left: 0;
  padding: 4px;
  position: absolute;
  top: 0;
  width: 1008px;
}

.solution-details-without-offload {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.solution-details {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: -2.00px;
  position: relative;
  width: fit-content;
}

.action-items {
  align-items: flex-start;
  display: flex;
  gap: 22px;
  position: relative;
  width: fit-content;
}

.add-carrier-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 0px 0px 10px;
  position: relative;
  width: fit-content;
}

.add-carrier-9 {
  height: 17px;
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 115px;
}

.frame-502-5 {
  align-items: flex-start;
  display: flex;
  gap: 19px;
  position: relative;
  width: fit-content;
}

.checkbox-12 {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.checkbox-13 {
  height: 20px;
  min-width: 20px;
  position: relative;
}

.placeholder-text-132 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.table-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: -3.00px;
  position: relative;
  width: fit-content;
}

.divider-111 {
  background-color: var(--black);
  border: 0px none;
  height: 3px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 999px;
}

.table-row-elements {
  height: 768px;
  min-width: 999px;
  position: relative;
}

.overlap-group-30 {
  height: 760px;
  left: 0;
  position: absolute;
  top: 0;
  width: 999px;
}

.overlap-group3-4 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-color: var(--black);
  border-left-style: solid;
  border-right-style: solid;
  border-style: solid;
  border-top-style: solid;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  left: 0;
  min-width: 999px;
  padding: 10.5px 392px;
  position: absolute;
  top: 0;
}

.label-155 {
  letter-spacing: 0;
  line-height: 14.5px;
  min-height: 15px;
  position: relative;
  white-space: nowrap;
  width: 95px;
}

.row {
  background-color: var(--white);
  height: 40px;
  left: 1px;
  position: absolute;
  top: 40px;
  width: 998px;
}

.row-1 {
  background-color: var(--white);
  border: 0.5px solid;
  border-color: var(--alto);
  height: 40px;
  left: 0;
  position: absolute;
  top: 240px;
  width: 998px;
}

.row-2 {
  background-color: var(--black-haze);
  border: 0.5px solid;
  border-color: var(--alto);
  height: 40px;
  left: 0;
  position: absolute;
  top: 280px;
  width: 998px;
}

.row-3 {
  background-color: var(--white);
  border: 0.5px solid;
  border-color: var(--alto);
  height: 40px;
  left: 0;
  position: absolute;
  top: 320px;
  width: 998px;
}

.row-4 {
  background-color: var(--white);
  border: 0.5px solid;
  border-color: var(--alto);
  height: 40px;
  left: 0;
  position: absolute;
  top: 160px;
  width: 998px;
}

.row-5 {
  background-color: var(--black-haze);
  border: 0.5px solid;
  border-color: var(--alto);
  height: 40px;
  left: 0;
  position: absolute;
  top: 200px;
  width: 998px;
}

.row-6 {
  background-color: var(--white);
  border: 0.5px solid;
  border-color: var(--alto);
  height: 40px;
  left: 0;
  position: absolute;
  top: 80px;
  width: 998px;
}

.row-7 {
  background-color: var(--black-haze);
  border: 0.5px solid;
  border-color: var(--alto);
  height: 40px;
  left: 0;
  position: absolute;
  top: 120px;
  width: 998px;
}

.row-8 {
  background-color: var(--white);
  border: 0.5px solid;
  border-color: var(--alto);
  height: 40px;
  left: 0;
  position: absolute;
  top: 520px;
  width: 998px;
}

.row-9 {
  background-color: var(--black-haze);
  border: 0.5px solid;
  border-color: var(--alto);
  height: 40px;
  left: 0;
  position: absolute;
  top: 560px;
  width: 998px;
}

.row-10 {
  background-color: var(--black-haze);
  border: 0.5px solid;
  border-color: var(--alto);
  height: 40px;
  left: 0;
  position: absolute;
  top: 640px;
  width: 998px;
}

.row-11 {
  background-color: var(--black-haze);
  border: 0.5px solid;
  border-color: var(--alto);
  height: 40px;
  left: 0;
  position: absolute;
  top: 720px;
  width: 998px;
}

.row-12 {
  background-color: var(--white);
  border: 0.5px solid;
  border-color: var(--alto);
  height: 40px;
  left: 0;
  position: absolute;
  top: 600px;
  width: 998px;
}

.row-13 {
  background-color: var(--white);
  border: 0.5px solid;
  border-color: var(--alto);
  height: 40px;
  left: 0;
  position: absolute;
  top: 680px;
  width: 998px;
}

.row-14 {
  background-color: var(--white);
  border: 0.5px solid;
  border-color: var(--alto);
  height: 40px;
  left: 0;
  position: absolute;
  top: 440px;
  width: 998px;
}

.row-15 {
  background-color: var(--black-haze);
  border: 0.5px solid;
  border-color: var(--alto);
  height: 40px;
  left: 0;
  position: absolute;
  top: 480px;
  width: 998px;
}

.row-16 {
  background-color: var(--white);
  border: 0.5px solid;
  border-color: var(--alto);
  height: 40px;
  left: 0;
  position: absolute;
  top: 360px;
  width: 998px;
}

.row-17 {
  background-color: var(--black-haze);
  border: 0.5px solid;
  border-color: var(--alto);
  height: 40px;
  left: 0;
  position: absolute;
  top: 400px;
  width: 998px;
}

.divider-112 {
  background-color: var(--black);
  border: 0px none;
  height: 3px;
  left: -132px;
  position: absolute;
  top: 378px;
  transform: rotate(-90deg);
  width: 760px;
}

.icon-41 {
  height: 24px;
  left: 188px;
  position: absolute;
  top: 289px;
  width: 24px;
}

.icon-42 {
  height: 24px;
  left: 188px;
  position: absolute;
  top: 328px;
  width: 24px;
}

.icon-43 {
  height: 24px;
  left: 188px;
  position: absolute;
  top: 368px;
  width: 24px;
}

.icon-44 {
  height: 24px;
  left: 188px;
  position: absolute;
  top: 409px;
  width: 24px;
}

.icon-45 {
  height: 24px;
  left: 188px;
  position: absolute;
  top: 448px;
  width: 24px;
}

.icon-46 {
  height: 24px;
  left: 188px;
  position: absolute;
  top: 487px;
  width: 24px;
}

.divider-113 {
  background-color: var(--sonic-silver);
  height: 1px;
  left: 92px;
  position: absolute;
  top: 420px;
  transform: rotate(-90deg);
  width: 676px;
}

.divider-114 {
  background-color: var(--sonic-silver);
  height: 1px;
  left: 240px;
  position: absolute;
  top: 420px;
  transform: rotate(-90deg);
  width: 676px;
}

.divider-115 {
  background-color: var(--sonic-silver);
  height: 1px;
  left: 382px;
  position: absolute;
  top: 420px;
  transform: rotate(-90deg);
  width: 676px;
}

.divider-116 {
  background-color: var(--sonic-silver);
  height: 1px;
  left: 474px;
  position: absolute;
  top: 420px;
  transform: rotate(-90deg);
  width: 676px;
}

.divider-117 {
  background-color: var(--sonic-silver);
  height: 1px;
  left: 566px;
  position: absolute;
  top: 420px;
  transform: rotate(-90deg);
  width: 676px;
}

.divider-118 {
  background-color: var(--sonic-silver);
  height: 1px;
  left: -2px;
  position: absolute;
  top: 420px;
  transform: rotate(-90deg);
  width: 676px;
}

.divider-119 {
  background-color: var(--alto);
  height: 1px;
  left: 0;
  position: absolute;
  top: 759px;
  width: 997px;
}

