.atomsicon2019close-23,
.atomsicon2019close-23.atomsicon2019close,
.atomsicon2019close-23.atomsicon2019close-1,
.atomsicon2019close-23.atomsicon2019close-2,
.atomsicon2019close-23.atomsicon2019close-3,
.atomsicon2019close-23.atomsicon2019close-4,
.atomsicon2019close-23.atomsicon2019close-5,
.atomsicon2019close-23.atomsicon2019close-6,
.atomsicon2019close-23.atomsicon2019close-7,
.atomsicon2019close-23.atomsicon2019close-8,
.atomsicon2019close-23.atomsicon2019close-8-2,
.atomsicon2019close-23.atomsicon2019close-9,
.atomsicon2019close-23.atomsicon2019close-10,
.atomsicon2019close-23.atomsicon2019close-11,
.atomsicon2019close-23.atomsicon2019close-12,
.atomsicon2019close-23.atomsicon2019close-13,
.atomsicon2019close-23.atomsicon2019close-14,
.atomsicon2019close-23.atomsicon2019close-15,
.atomsicon2019close-23.atomsicon2019close-16,
.atomsicon2019close-23.atomsicon2019close-17,
.atomsicon2019close-23.atomsicon2019close-18,
.atomsicon2019close-23.atomsicon2019close-19,
.atomsicon2019close-23.atomsicon2019close-20,
.atomsicon2019close-23.atomsicon2019close-21,
.atomsicon2019close-23.atomsicon2019close-22 {
  height: 12px;
  min-width: 12px;
  position: relative;
}

.group-8 {
  background-image: url(/static/img/shape-66.svg);
  background-size: 100% 100%;
  height: 11px;
  left: 1px;
  position: relative;
  width: 11px;
}

.atomsicon2019close-23.atomsicon2019close-24 .group-8,
.atomsicon2019close-23.atomsicon2019close-25 .group-8,
.atomsicon2019close-23.atomsicon2019close-1-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-2-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-3-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-4-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-5-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-6-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-7-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-8-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-9-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-10-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-11-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-12-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-13-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-14-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-15-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-17-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-18-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-19-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-20-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-21-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-22-1 .group-8 {
  background-image: url(/static/img/shape-2.svg);
}

.atomsicon2019close-23.atomsicon2019close .group-8,
.atomsicon2019close-23.atomsicon2019close-16 .group-8 {
  background-image: url(/static/img/shape-70.svg);
}

.atomsicon2019close-23.atomsicon2019close-1 .group-8,
.atomsicon2019close-23.atomsicon2019close-2 .group-8,
.atomsicon2019close-23.atomsicon2019close-4 .group-8,
.atomsicon2019close-23.atomsicon2019close-5 .group-8,
.atomsicon2019close-23.atomsicon2019close-6 .group-8,
.atomsicon2019close-23.atomsicon2019close-7 .group-8,
.atomsicon2019close-23.atomsicon2019close-8-2 .group-8,
.atomsicon2019close-23.atomsicon2019close-8 .group-8 {
  background-image: url(/static/img/shape-194.svg);
}

.atomsicon2019close-23.atomsicon2019close-3 .group-8,
.atomsicon2019close-23.atomsicon2019close-9 .group-8,
.atomsicon2019close-23.atomsicon2019close-10 .group-8,
.atomsicon2019close-23.atomsicon2019close-12 .group-8,
.atomsicon2019close-23.atomsicon2019close-17 .group-8,
.atomsicon2019close-23.atomsicon2019close-18 .group-8,
.atomsicon2019close-23.atomsicon2019close-19 .group-8,
.atomsicon2019close-23.atomsicon2019close-20 .group-8,
.atomsicon2019close-23.atomsicon2019close-21 .group-8,
.atomsicon2019close-23.atomsicon2019close-22 .group-8 {
  background-image: url(/static/img/shape-7.svg);
}

.atomsicon2019close-23.atomsicon2019close-26 .group-8,
.atomsicon2019close-23.atomsicon2019close-27 .group-8 {
  background-image: url(/static/img/shape-11.svg);
}

.atomsicon2019close-23.atomsicon2019close-11 .group-8,
.atomsicon2019close-23.atomsicon2019close-13 .group-8,
.atomsicon2019close-23.atomsicon2019close-14 .group-8,
.atomsicon2019close-23.atomsicon2019close-15 .group-8 {
  background-image: url(/static/img/shape-26.svg);
}

