.column-names,
.column-names-1,
.column-names-2,
.column-names-3 {
  height: 40px;
  left: 248px;
  position: absolute;
  top: 40px;
  width: 704px;
}

.label-200,
.label-207,
.label-214,
.label-221 {
  left: 10px;
  letter-spacing: 0;
  line-height: 14.5px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 95px;
}

.label-201,
.label-208,
.label-215,
.label-222 {
  left: 96px;
  letter-spacing: 0;
  line-height: 14.5px;
  position: absolute;
  top: 4px;
  width: 95px;
}

.label-202,
.label-209,
.label-216,
.label-223 {
  left: 206px;
  letter-spacing: 0;
  line-height: 14.5px;
  position: absolute;
  top: 4px;
  width: 95px;
}

.label-203,
.label-210,
.label-217,
.label-224 {
  left: 339px;
  letter-spacing: 0;
  line-height: 14.5px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 95px;
}

.label-204,
.label-211,
.label-218,
.label-225 {
  left: 482px;
  letter-spacing: 0;
  line-height: 14.5px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 95px;
}

.label-205,
.label-212,
.label-219,
.label-226 {
  left: 574px;
  letter-spacing: 0;
  line-height: 14.5px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 95px;
}

.label-206,
.label-213,
.label-220,
.label-227 {
  left: 666px;
  letter-spacing: 0;
  line-height: 14.5px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 95px;
}

