.button-2,
.button-3,
.button-4,
.button-5,
.button-6,
.button-7,
.button-8,
.button-9,
.button-10,
.button-11,
.button-12,
.button-13 {
  align-items: center;
  background-color: var(--black);
  border-radius: 22px;
  display: flex;
  gap: 10px;
  height: 19px;
  justify-content: center;
  padding: 0px 10px;
  position: relative;
  width: fit-content;
}

.content-1,
.content-2,
.content-3,
.content-4,
.content-5,
.content-6,
.content-7,
.content-8,
.content-9,
.content-10,
.content-11,
.content-12 {
  align-items: center;
  display: flex;
  gap: 5px;
  position: relative;
  width: fit-content;
}

.text-14,
.text-15,
.text-16,
.text-17,
.text-18,
.text-19,
.text-20,
.text-21,
.text-23,
.text-24,
.text-25,
.text-26 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.dropdown,
.dropdown-1,
.dropdown-2,
.dropdown-3,
.dropdown-4,
.dropdown-5,
.dropdown-6,
.dropdown-7,
.dropdown-8,
.dropdown-9,
.dropdown-10,
.dropdown-11 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.rectangle-30-1,
.rectangle-30-2,
.rectangle-30-3,
.rectangle-30-4,
.rectangle-30-5,
.rectangle-30-6,
.rectangle-30-7,
.rectangle-30-8,
.rectangle-30-9,
.rectangle-30-10,
.rectangle-30-11,
.rectangle-30-12 {
  align-self: stretch;
  background-color: var(--white);
  height: 19px;
  min-width: 1px;
  position: relative;
}

.icon-29,
.icon-30,
.icon-31,
.icon-32,
.icon-33,
.icon-34,
.icon-35,
.icon-36,
.icon-37,
.icon-38,
.icon-39,
.icon-40 {
  height: 10px;
  min-width: 10px;
  position: relative;
}

