.local-select-solution-type-3,
.local-select-solution-type-3-1,
.local-select-solution-type-3-2,
.local-select-solution-type-3-3,
.local-select-solution-type-3-4,
.local-select-solution-type-3-5,
.local-select-solution-type-3-6,
.local-select-solution-type-3-7,
.local-select-solution-type-3-8 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: -2.00px;
  padding: 0px 0px 18px;
  position: relative;
  width: fit-content;
}

