.global-header-2,
.global-header-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 5px 10px 10px;
  position: relative;
  width: 1024px;
}

.tab,
.tab-1 {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.tab-items,
.tab-items-1 {
  align-items: center;
  display: flex;
  gap: 5px;
  position: relative;
  width: fit-content;
}

.frame-14,
.frame-14-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.bar,
.bar-1 {
  align-self: stretch;
  background-color: var(--thunderbird);
  height: 4px;
  min-width: 38px;
  position: relative;
}

.item-name,
.item-name-1 {
  letter-spacing: 0;
  line-height: 14.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame-14-1,
.frame-14-3 {
  height: 4px;
  min-width: 7px;
  position: relative;
}

.divider,
.divider-1 {
  background-color: var(--alto);
  height: 1px;
  min-width: 1004px;
  position: relative;
}

