.table-19,
.table-20,
.table-21 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 5px;
  position: relative;
}

.text-icon-24,
.text-icon-25,
.text-icon-26 {
  align-items: center;
  border: 2px solid;
  border-color: var(--tan-hide);
  display: flex;
  gap: 5px;
  padding: 5px 10px;
  position: relative;
  width: fit-content;
}

.label-341,
.label-342,
.label-343 {
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -2.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

