.cell-0,
.cell-0-1,
.cell-0-2 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 5px;
  padding: 0px 10px;
  position: relative;
}

.text-icon,
.text-icon-1,
.text-icon-2 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 5px;
  padding: 5px 0px;
  position: relative;
}

.label-152,
.label-153,
.label-154 {
  flex: 1;
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

