.table-row,
.table-row-1,
.table-row-2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.inputs-22,
.inputs-23,
.inputs-24 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  padding: 7px 10px;
  position: relative;
}

.icon-26,
.icon-27,
.icon-28 {
  height: 20px;
  min-width: 20px;
  position: relative;
}

.row-data-3,
.row-data-4,
.row-data-5 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 10px;
  position: relative;
}

.cell-03-text,
.cell-03-text-1,
.cell-03-text-2 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--alto);
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 3px;
  height: 25px;
  padding: 7px 0px 0px;
  position: relative;
}

.frame-18-39,
.frame-18-40,
.frame-18-41 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 20px;
  padding: 0px 10px;
  position: relative;
}

.frame-32-28,
.frame-32-29,
.frame-32-30 {
  flex: 1;
  height: 15px;
  min-width: 133.4px;
  position: relative;
}

.placeholder-text-81,
.placeholder-text-82,
.placeholder-text-83 {
  left: 0;
  letter-spacing: 0;
  line-height: 14.5px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.atomsicon2019close-57,
.atomsicon2019close-58,
.atomsicon2019close-59 {
  height: 8px;
  min-width: 8px;
  position: relative;
}

.elements-65,
.elements-66,
.elements-67 {
  align-self: stretch;
  background-color: var(--black);
  height: 1px;
  margin-bottom: -1.00px;
  min-width: 181.4px;
  position: relative;
}

.divider-72,
.divider-73,
.divider-74 {
  align-self: stretch;
  background-color: var(--alto);
  height: 1px;
  min-width: 997px;
  position: relative;
}

.click_icon{
  position: absolute;
  top: 100px;
  left: 550px;
}

.click_icon img{transform: rotate(360deg);}