.table-item-20,
.table-item-21,
.table-item-22,
.table-item-23 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 20px;
  padding: 6px 20px 6px 10px;
  position: relative;
  width: fit-content;
}

.label-184,
.label-185,
.label-186,
.label-187 {
  letter-spacing: 0;
  line-height: 14.5px;
  margin-bottom: -1.50px;
  margin-top: -5.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

