.global-header-4,
.frame-14-30,
.frame-14-32,
.frame-14-33,
.global-header-6,
.frame-14-34,
.frame-14-36,
.frame-14-37,
.global-header-8,
.frame-14-38,
.frame-14-40,
.frame-14-41,
.global-header-10,
.frame-14-42,
.frame-14-44,
.frame-14-45,
.global-header-12,
.frame-14-46,
.frame-14-48,
.frame-14-49,
.global-header-14,
.frame-14-50,
.frame-14-52,
.frame-14-53,
.global-header-16,
.frame-14-54,
.frame-14-56,
.frame-14-57,
.global-header-18,
.frame-14-58,
.frame-14-60,
.frame-14-61,
.global-header-20,
.frame-14-62,
.frame-14-64,
.frame-14-65,
.global-header-22,
.frame-14-66,
.frame-14-68,
.frame-14-69,
.global-header-24,
.frame-14-70,
.frame-14-72,
.frame-14-73,
.global-header-26,
.frame-14-74,
.frame-14-76,
.frame-14-77,
.global-header-28,
.frame-14-78,
.frame-14-80,
.frame-14-81,
.global-header-30,
.frame-14-82,
.frame-14-84,
.frame-14-85,
.global-header-32,
.frame-14-86,
.frame-14-88,
.frame-14-89,
.global-header-34,
.frame-14-90,
.frame-14-92,
.frame-14-93,
.global-header-36,
.frame-14-94,
.frame-14-96,
.frame-14-97,
.global-header-38,
.frame-14-98,
.frame-14-100,
.frame-14-101,
.global-header-40,
.frame-14-102,
.frame-14-104,
.frame-14-105,
.global-header-42,
.frame-14-106,
.frame-14-108,
.frame-14-109,
.global-header-44,
.frame-14-110,
.frame-14-112,
.frame-14-113,
.global-header-46,
.frame-14-114,
.frame-14-116,
.frame-14-117,
.global-header-48,
.frame-14-118,
.frame-14-120,
.frame-14-121,
.global-header-50,
.frame-14-122,
.frame-14-124,
.frame-14-125,
.global-header-52,
.frame-14-126,
.frame-14-128,
.frame-14-129,
.global-header-54,
.frame-14-130,
.frame-14-132,
.frame-14-133 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.global-header-5,
.global-header-7,
.global-header-9,
.global-header-11,
.global-header-13,
.global-header-15,
.global-header-17,
.global-header-19,
.global-header-21,
.global-header-23,
.global-header-25,
.global-header-27,
.global-header-29,
.global-header-31,
.global-header-33,
.global-header-35,
.global-header-37,
.global-header-39,
.global-header-41,
.global-header-43,
.global-header-45,
.global-header-47,
.global-header-49,
.global-header-51,
.global-header-53,
.global-header-55 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 5px 10px 10px;
  position: relative;
  width: 1024px;
}

.tab-2,
.tab-3,
.tab-4,
.tab-5,
.tab-6,
.tab-7,
.tab-8,
.tab-9,
.tab-10,
.tab-11,
.tab-12,
.tab-13,
.tab-14,
.tab-15,
.tab-16,
.tab-17,
.tab-18,
.tab-19,
.tab-20,
.tab-21,
.tab-22,
.tab-23,
.tab-24,
.tab-25,
.tab-26,
.tab-27 {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.tab-items-28,
.tab-items-29,
.tab-items-30,
.tab-items-31,
.tab-items-32,
.tab-items-33,
.tab-items-34,
.tab-items-35,
.tab-items-36,
.tab-items-37,
.tab-items-38,
.tab-items-39,
.tab-items-40,
.tab-items-41,
.tab-items-42,
.tab-items-43,
.tab-items-44,
.tab-items-45,
.tab-items-46,
.tab-items-47,
.tab-items-48,
.tab-items-49,
.tab-items-50,
.tab-items-51,
.tab-items-52,
.tab-items-53 {
  align-items: center;
  display: flex;
  gap: 5px;
  position: relative;
  width: fit-content;
}

.tab-item-bar,
.tab-item-bar-2,
.tab-item-bar-4,
.tab-item-bar-6,
.tab-item-bar-8,
.tab-item-bar-10,
.tab-item-bar-12,
.tab-item-bar-14,
.tab-item-bar-16,
.tab-item-bar-18,
.tab-item-bar-20,
.tab-item-bar-22,
.tab-item-bar-24,
.tab-item-bar-26,
.tab-item-bar-28,
.tab-item-bar-30,
.tab-item-bar-32,
.tab-item-bar-34,
.tab-item-bar-36,
.tab-item-bar-38,
.tab-item-bar-40,
.tab-item-bar-42,
.tab-item-bar-44,
.tab-item-bar-46,
.tab-item-bar-48,
.tab-item-bar-50 {
  align-self: stretch;
  height: 4px;
  min-width: 37px;
  position: relative;
}

.item-name-2,
.item-name-3,
.item-name-4,
.item-name-5,
.item-name-6,
.item-name-7,
.item-name-8,
.item-name-9,
.item-name-10,
.item-name-11,
.item-name-12,
.item-name-13,
.item-name-14,
.item-name-15,
.item-name-16,
.item-name-17,
.item-name-18,
.item-name-19,
.item-name-20,
.item-name-21,
.item-name-22,
.item-name-23,
.item-name-24,
.item-name-25,
.item-name-26,
.item-name-27 {
  letter-spacing: 0;
  line-height: 14.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame-14-31,
.frame-14-35,
.frame-14-39,
.frame-14-43,
.frame-14-47,
.frame-14-51,
.frame-14-55,
.frame-14-59,
.frame-14-63,
.frame-14-67,
.frame-14-71,
.frame-14-75,
.frame-14-79,
.frame-14-83,
.frame-14-87,
.frame-14-91,
.frame-14-95,
.frame-14-99,
.frame-14-103,
.frame-14-107,
.frame-14-111,
.frame-14-115,
.frame-14-119,
.frame-14-123,
.frame-14-127,
.frame-14-131 {
  height: 4px;
  min-width: 7px;
  position: relative;
}

.tab-items-2,
.tab-items-3,
.tab-items-4,
.tab-items-5,
.tab-items-6,
.tab-items-7,
.tab-items-8,
.tab-items-9,
.tab-items-10,
.tab-items-11,
.tab-items-12,
.tab-items-13,
.tab-items-14,
.tab-items-15,
.tab-items-16,
.tab-items-17,
.tab-items-18,
.tab-items-19,
.tab-items-20,
.tab-items-21,
.tab-items-22,
.tab-items-23,
.tab-items-24,
.tab-items-25,
.tab-items-26,
.tab-items-27 {
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.tab-item-bar-1,
.tab-item-bar-3,
.tab-item-bar-5,
.tab-item-bar-7,
.tab-item-bar-9,
.tab-item-bar-11,
.tab-item-bar-13,
.tab-item-bar-15,
.tab-item-bar-17,
.tab-item-bar-19,
.tab-item-bar-21,
.tab-item-bar-23,
.tab-item-bar-25,
.tab-item-bar-27,
.tab-item-bar-29,
.tab-item-bar-31,
.tab-item-bar-33,
.tab-item-bar-35,
.tab-item-bar-37,
.tab-item-bar-39,
.tab-item-bar-41,
.tab-item-bar-43,
.tab-item-bar-45,
.tab-item-bar-47,
.tab-item-bar-49,
.tab-item-bar-51 {
  align-self: stretch;
  height: 4px;
  min-width: 104px;
  position: relative;
}

.frame-14-4,
.frame-14-5,
.frame-14-6,
.frame-14-7,
.frame-14-8,
.frame-14-9,
.frame-14-10,
.frame-14-11,
.frame-14-12,
.frame-14-13,
.frame-14-14,
.frame-14-15,
.frame-14-16,
.frame-14-17,
.frame-14-18,
.frame-14-19,
.frame-14-20,
.frame-14-21,
.frame-14-22,
.frame-14-23,
.frame-14-24,
.frame-14-25,
.frame-14-26,
.frame-14-27,
.frame-14-28,
.frame-14-29 {
  height: 11px;
  min-width: 7px;
  position: relative;
}

.bar-2,
.bar-3,
.bar-4,
.bar-5,
.bar-6,
.bar-7,
.bar-8,
.bar-9,
.bar-10,
.bar-11,
.bar-12,
.bar-13,
.bar-14,
.bar-15,
.bar-16,
.bar-17,
.bar-18,
.bar-19,
.bar-20,
.bar-21,
.bar-22,
.bar-23,
.bar-24,
.bar-25,
.bar-26,
.bar-27 {
  align-self: stretch;
  background-color: var(--thunderbird);
  height: 4px;
  min-width: 188px;
  position: relative;
}

.divider-6,
.divider-7,
.divider-8,
.divider-9,
.divider-10,
.divider-11,
.divider-12,
.divider-13,
.divider-14,
.divider-15,
.divider-16,
.divider-17,
.divider-18,
.divider-19,
.divider-20,
.divider-21,
.divider-22,
.divider-23,
.divider-24,
.divider-25,
.divider-26,
.divider-27,
.divider-28,
.divider-29,
.divider-30,
.divider-31 {
  background-color: var(--alto);
  height: 1px;
  min-width: 1004px;
  position: relative;
}

