.cbpm-16 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  width: 1024px;
}

.overlap-group3-1 {
  height: 832px;
  position: relative;
  width: 1024px;
}

.template-solution-details {
  align-items: flex-start;
  background-color: var(--white-lilac);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 832px;
  left: 0;
  position: absolute;
  top: 0;
  width: fit-content;
}

.localcbp-modification-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 10px;
  position: relative;
  width: fit-content;
}

.navigation-window {
  height: 293px;
  min-width: 1004px;
  position: relative;
}

.overlap-group1-28 {
  height: 295px;
  left: -2px;
  position: relative;
  top: -2px;
  width: 1008px;
}

.body {
  align-items: center;
  background-color: var(--white);
  border: 4px solid;
  border-color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 257px;
  left: 0;
  padding: 4px;
  position: absolute;
  top: 0;
  width: 1008px;
}

.solution-details-4 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 0px 0px 30px;
  position: relative;
}

.frame-501 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  padding: 20px 10px 10px;
  position: relative;
  width: fit-content;
}

.inputs {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
  width: 219px;
}

.input-fields {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--alto);
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 30px;
  padding: 7px 0px 0px;
  position: relative;
}

.frame {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  position: relative;
}

.placeholder-text-30 {
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.atomsicon2019close-29 {
  height: 8px;
  min-width: 8px;
  position: relative;
}

.divider-4,
.elements-28 {
  align-self: stretch;
  background-color: var(--black);
  height: 1px;
  min-width: 219px;
  position: relative;
}

.inputs-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
  width: 239px;
}

.divider-5 {
  background-color: var(--alto);
  height: 1px;
  margin-right: -4.00px;
  min-width: 1000px;
  position: relative;
}

