.row-data-11,
.row-data-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 40px;
  width: 147px;
}

.cell-row-10,
.cell-row-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0px;
  position: relative;
}

.table-item-36,
.table-item-37 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 20px;
  padding: 6px 20px 6px 10px;
  position: relative;
  width: fit-content;
}

.label-230,
.label-231 {
  letter-spacing: 0;
  line-height: 14.5px;
  margin-bottom: -1.50px;
  margin-top: -5.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

