.row-data-53,
.row-data-54 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 10px;
  position: relative;
}

.table-35,
.table-36 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 5px;
  position: relative;
}

